<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h3>List of URLS</h3>
  <ul>
    <% for (let i in urls) { %>
    <li> <%= i %> - <%= urls[i].longURL %> - Created: <%= urls[i].date %> - Visits: <%= urls[i].clicks %> - Unique Visits: <%= urls[i].uniqueClicks.length %>
    <form method="POST" action="/urls/<%= i %>/delete">
      <a href="/urls/<%= i %>">Edit</a>
      <button name="delete">Delete</button>
    </form>
    </li>
    <% } %>
  </ul>
  <a href="/urls/new"><button>New</button></a>
</body>
</html>